body {
      text-align: center;
      color: black;
      background-size: cover;
      background-position: center;
h1 {
	font-family: helvetica;
	font-size: 30px;
	color: red;
}
p{
	font-family: Ariel;
	color: black;
}
