body {
      text-align: center;
      color: black;
      background: url("/images/BackgroundS-BP1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
  }

p {
	font-family: 'Lora';
	color: #036564;
}

h1.arabic {
	padding: 0;
	margin: 0;
	font-family: helvetica;
	font-size: 30px;
	color: #036564;
}
h1.english {
	font-family: helvetica;
	font-size: 45px;
	color: #036564;
}

img.logo {
	margin: 10px;
	height: 150px;
	widows: auto;
}

